{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>
      This space could be used to make some sort of statement or provide instructions for 
      how to use the app. THE POSSIBILITIES ARE ENDLESS!!!
    </p>
    <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div>

  <hr/>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="#">Event Title</a>
          </h3>
        </div>
        <div class="panel-body">
          Event details including:
          <ul>
            <li>date</li>
            <li>rating</li>
            <li>small description</li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="#">Event Title</a>
          </h3>
        </div>
        <div class="panel-body">
          Event details including:
          <ul>
            <li>date</li>
            <li>rating</li>
            <li>small description</li>
          </ul>
        </div>
      </div>
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="#">Event Title</a>
          </h3>
        </div>
        <div class="panel-body">
          Event details including:
          <ul>
            <li>date</li>
            <li>rating</li>
            <li>small description</li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="#">Event Title</a>
          </h3>
        </div>
        <div class="panel-body">
          Event details including:
          <ul>
            <li>date</li>
            <li>rating</li>
            <li>small description</li>
          </ul>
        </div>
      </div>
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="#">Event Title</a>
          </h3>
        </div>
        <div class="panel-body">
          Event details including:
          <ul>
            <li>date</li>
            <li>rating</li>
            <li>small description</li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="#">Event Title</a>
          </h3>
        </div>
        <div class="panel-body">
          Event details including:
          <ul>
            <li>date</li>
            <li>rating</li>
            <li>small description</li>
          </ul>
        </div>
      </div>
    </div><!-- /.col-sm-4 -->
  </div>
{% endblock %}