{% extends 'base.html' %}

{% block title %}| Dashboard {% endblock %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Active on Steroids</h1>
    <p>
      
  </div>

  <hr/>
  <div class="row">
    {#  #}
    
    {% for event in events %}
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="{% url 'dashboard:event' %}">{{ event.title }}</a>
          </h3>
        </div>
        <div class="panel-body">
          Event details including:
          <ul>
            <li>{{event.endDate}}</li>
            <li>{{event.location}}</li>
            <li>{{event.homePage}}</li>
            <li>{{event.description}}</li>
          </ul>
        </div>
      </div>
       </div><!-- /.col-md-4 -->
    {% endfor %}
   
    <div class="col-md-4">

    </div><!-- /.col-md-4 -->
  </div><!--/.row -->
{% endblock %}