{% extends 'base.html' %}

{% block title %}| {{event.title}} {% endblock title %}

{% block content %}
    
    <div class="row">
        <div class="col-md-8">
            <h1>{{event.title}}</h1>
            <hr/>
            
            <h3>Date</h3>
            <p>{{event.eventDate}}</p>

            <h3>Signup End Date</h3>
            <p>{{event.endDate}}</p>
            
            <h3>Location</h3>
            {% if event.addressLine1 %}
              <li>{{ event.addressLine1 }}</li>
            {% endif %}
            {% if event.addressLine2 %}
              <li>{{ event.addressLine2 }}</li>
            {% endif %}
            <p>{{event.location}}</p>
            
            {% if event.homePage %}
                <h3>Home Page</h3>
                <a href="{{event.homePage}}">{{event.homePage}}</a>
            {% endif %}
            
            {% if event.description %}
            <h3>Description</h3>
            <div class="well">
                {% autoescape off %}{{event.description}}{% endautoescape %}
            </div>
            {% endif %}
        </div><!--/.col-md-8 -->

        <div class="col-md-4">
            <h3>Related Events</h3>
            {% for e in events %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="{% url 'dashboard:event' e.id %}">{{e.title}}</a>
                    </h3>
                </div>
                <div class="panel-body">
                     Event details include:
                    <ul>
                        <li>{{e.eventDate}}</li>
                        <li>{{e.cityName}}, {{e.zipCode}}</li>
                        <li><a href="{{e.homePage}}">{{e.homePage}}</a></li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div><!--/.col-md-4 -->
    </div><!--/.row -->

{% endblock content %}